<% content_for(:html_title) {@type.name}%>
<h1>
  <%= @type.name.capitalize%> type moves and pokemons
</h1>
<h2>
  Pokemons
</h2>
<ul>
  <% if @type.pokemons.present? %>
    <% @type.pokemons.each do |pokemon| %>
      <li>
        <%= link_to pokemon.name, pokemon %>
      </li>
    <% end %>
  <% else %>
    <li>None</li>
  <% end %>
</ul>
<h2>
  Moves
</h2>
<ul>
  <% if @type.moves.present? %>
    <% @type.moves.each do |move| %>
      <li>
        <%= link_to move.name, move %>
      </li>
    <% end %>
  <% else %>
    <li>None</li>
  <% end %>
</ul>