<h1>Generation 1 Pokedex</h1>
<h2>
  Pokemons
</h2>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <%= link_to pokemon.name, pokemon%>
      <% pokemon.types.each do |pokemon_type| %>
        <%= link_to pokemon_type.name, pokemon_type%>
      <% end %>
      <%= pokemon.moves.count %>
    </li>
  <% end%>
</ul>
<h2>
  Moves
</h2>
<ul>
  <% @moves.each do |move| %>
    <li>
      <%= link_to move.name, move%>
    </li>
  <% end%>
</ul>