<div class="section">
    <h1 class="title has-text-centered">Generation 1 Pokedex</h1>
    <div class="columns">
      <div class="column">Pokemon</div>
      <div class="column">Type</div>
      <div class="column">Number of moves</div>
    </div>
    <% @pokemons.each do |pokemon| %>
      <div class="columns">
        <div class="column">
          <div class="box">
            <%= image_tag("sprites/#{pokemon.id}.png" , class: 'image is-64x64')%>
            <%= link_to pokemon.name, pokemon, class: 'has-text-centered is-size-5'%>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <% pokemon.types.each do |pokemon_type| %>
              <%= link_to image_tag("types/#{pokemon_type.name.downcase}.png"), pokemon_type %>
            <% end %>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <%= pokemon.moves.count %>
          </div>
        </div>
      </div>
    <% end %>
</div>
