<h1>Generation 1 Pokemons</h1>
<ul>
  <% @pokemons.each do |pokemon| %>
    <li>
      <%= image_tag("sprites/#{pokemon.id}.png") %>
      <%= link_to pokemon.name, pokemon%>
    </li>
  <% end%>
</ul>
